#Bereinigung des zusammengefügten Datensatzes

Nach dem wir alle Datensätze gejoint haben und verschiedene Joins ausprobiert bereinigen wir den über den Outer Join zusammengefügten Datensatz. Dieser Join hat am besten funktioniert, die anderen hatten nur noch wenige Zeile oder viele fehlende Werte.

In [1]:
#Daten laden

import pandas as pd

df = pd.read_csv('Join_5_movie_meta_data.csv')

<ipython-input-1-a09236d8848b>:5: DtypeWarning: Columns (0,1,2,3,4,5,7,8,9,14,16,17,18,19,21,22,23,24,25,26,27,28,29,31,32,33,34,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Join_5_movie_meta_data.csv')

In [2]:
df

,id_x,name,character,role,title,description,runtime,genres_x,production_countries_x,imdb_id_x,...,country,genres,imdb_id_y,awards,producers,budget_y,production companies,plot,plot outline,tageline
0,tm82169,Sylvester Stallone,"Robert ""Rocky"" Balboa",ACTOR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tm82169,Talia Shire,"Adrianna ""Adrian"" Pennino",ACTOR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tm82169,Burt Young,Paulie Pennino,ACTOR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tm82169,Carl Weathers,Apollo Creed,ACTOR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tm82169,Burgess Meredith,Mickey Goldmill,ACTOR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98821,NaN,NaN,NaN,NaN,While You Were Sleeping,NaN,NaN,NaN,NaN,NaN,...,United States,"Comedy, Drama, Romance",114924.0,"Golden Globe 1996, American Comedy Award 1996,...","Steve Barron, Roger Birnbaum, Jonathan Glickma...","$17,000,000 (estimated)","Hollywood Pictures, Caravan Pictures",A hopelessly romantic Chicago Transit Authorit...,Nursing a secret and hopeless crush on the han...,A story about love at second sight.
98822,NaN,NaN,NaN,NaN,Wild Tales,NaN,NaN,NaN,NaN,NaN,...,"Argentina, Spain, France, United Kingdom","Comedy, Drama, Thriller",3011894.0,"Oscar 2015, BAFTA Film Award 2016, Award of th...","Agustín Almodóvar, Pedro Almodóvar, Leticia Cr...","$3,300,000 (estimated)","British Film Institute, Canal+, Corner Producc...",Six short stories that explore the extremities...,"The film is divided into six segments. (1) ""Pa...",We can all lose control
98823,NaN,NaN,NaN,NaN,Wind River,NaN,NaN,NaN,NaN,NaN,...,"United Kingdom, Canada, United States","Crime, Drama, Mystery, Thriller",5362988.0,"Saturn Award 2018, American Indian Movie Award...","Braden Aftergood, Elizabeth A. Bell, Peter Ber...","$11,000,000 (estimated)","Acacia Filmed Entertainment, Savvy Media Holdi...",A veteran hunter helps an FBI agent investigat...,"East of Boulder Flats, deep into the vast and ...","Nothing is harder to track than the truth., Da..."
98824,NaN,NaN,NaN,NaN,Wrongfully Accused,NaN,NaN,NaN,NaN,NaN,...,"Germany, United States","Action, Comedy, Thriller",120901.0,Stinker Award 1998,"Gary Barber, Warren Carr, Bernd Eichinger, Bob...",NaN,"Morgan Creek Entertainment, Constantin Film",Ryan Harrison is framed for murder and must pr...,"Ryan Harrison, a violin god, superstar and sex...","It's not just a movie. It's every movie., Some..."
98825,NaN,NaN,NaN,NaN,You Were Never Really Here,NaN,NaN,NaN,NaN,NaN,...,"United Kingdom, United States, France","Crime, Drama, Mystery, Thriller",5742374.0,"BAFTA Film Award 2019, EDA Female Focus Award ...","Jonathan Ames, Rosa Attab, Jacques Audiard, Su...",NaN,"Why Not Productions, Film4, British Film Insti...","A traumatized veteran, unafraid of violence, t...",Balancing between feverish dreamlike hallucina...,Bring the hammer.

In [3]:
#Prüfen nach fehlenden Werten

df.isna().sum()

id_x                                                 16407
name                                                 17471
character                                            28294
role                                                 17471
title                                                17545
description                                          25412
runtime                                              20579
genres_x                                             33951
production_countries_x                               33951
imdb_id_x                                            36938
imdb_score                                           34570
imdb_votes                                           34643
tmdb_score                                           30417
budget_x                                             93615
genres_y                                             93615
id_y                                                 93615
original_language                                    93615
production_companies                                 93615
production_countries_y                               93615
tagline                                              94488
Unnamed: 0                                           97457
Academy Awards adapted screenplay                    97457
Academy Awards original screenplay                   97457
BAFTA nominations                                    97457
Golden Globe Award for Best Screenplay               97457
Writers Guild Awards Winners & Nominees 2020-2013    97457
director                                             87919
cast                                                 85968
country                                              86361
genres                                               85020
imdb_id_y                                            95968
awards                                               96583
producers                                            96186
budget_y                                             97202
production companies                                 96144
plot                                                 96117
plot outline                                         96369
tageline                                             96570
dtype: int64

Als erstes werden wir einige Spalten, die wir nicht brauchen löschen

In [4]:
df = df.drop(['id_x', 'imdb_id_x', 'Unnamed: 0', 'imdb_id_y'], 1)

<ipython-input-4-b97db58be5d7>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(['id_x', 'imdb_id_x', 'Unnamed: 0', 'imdb_id_y'], 1)

Es gibt viele fehlende Werte in dem Datensatz, die durch das zusammenfügen der Datensätze entstanden sind.

In [5]:
df.isna().sum()

name                                                 17471
character                                            28294
role                                                 17471
title                                                17545
description                                          25412
runtime                                              20579
genres_x                                             33951
production_countries_x                               33951
imdb_score                                           34570
imdb_votes                                           34643
tmdb_score                                           30417
budget_x                                             93615
genres_y                                             93615
id_y                                                 93615
original_language                                    93615
production_companies                                 93615
production_countries_y                               93615
tagline                                              94488
Academy Awards adapted screenplay                    97457
Academy Awards original screenplay                   97457
BAFTA nominations                                    97457
Golden Globe Award for Best Screenplay               97457
Writers Guild Awards Winners & Nominees 2020-2013    97457
director                                             87919
cast                                                 85968
country                                              86361
genres                                               85020
awards                                               96583
producers                                            96186
budget_y                                             97202
production companies                                 96144
plot                                                 96117
plot outline                                         96369
tageline                                             96570
dtype: int64

In [6]:
#Zunächst löschen wir die fehlenden Werte in der title Spalte und der imdb und tmdb score Spalten, da diese für unsere Modell am wichitgsten sind

df = df.dropna(subset = ['title', 'imdb_score', 'tmdb_score'], axis=0)

In [7]:
df.isna().sum()

name                                                   849
character                                             8076
role                                                   849
title                                                    0
description                                             22
runtime                                                  0
genres_x                                                 0
production_countries_x                                   0
imdb_score                                               0
imdb_votes                                              71
tmdb_score                                               0
budget_x                                             60047
genres_y                                             60047
id_y                                                 60047
original_language                                    60047
production_companies                                 60047
production_countries_y                               60047
tagline                                              60076
Academy Awards adapted screenplay                    59547
Academy Awards original screenplay                   59547
BAFTA nominations                                    59547
Golden Globe Award for Best Screenplay               59547
Writers Guild Awards Winners & Nominees 2020-2013    59547
director                                             58456
cast                                                 58469
country                                              58675
genres                                               58394
awards                                               60470
producers                                            60470
budget_y                                             60470
production companies                                 60470
plot                                                 60470
plot outline                                         60470
tageline                                             60470
dtype: int64

In [8]:
df

,name,character,role,title,description,runtime,genres_x,production_countries_x,imdb_score,imdb_votes,...,cast,country,genres,awards,producers,budget_y,production companies,plot,plot outline,tageline
17545,Graham Chapman,King Arthur / Voice of God / Middle Head / Hic...,ACTOR,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...",91.0,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17546,John Cleese,Second Swallow-Savvy Guard / The Black Knight ...,ACTOR,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...",91.0,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17547,Eric Idle,Dead Collector / Peasant 1 / Sir Robin the Not...,ACTOR,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...",91.0,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17548,Terry Gilliam,Patsy / Green Knight / Old Man from Scene 24 (...,ACTOR,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...",91.0,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17549,Terry Jones,Dennis's Mother / Sir Bedevere / Left Head / P...,ACTOR,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...",91.0,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82683,NaN,NaN,NaN,The Wedding Coach,Former bride and forever comedian Jamie Lee sh...,33.0,"['comedy', 'reality']",['US'],5.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82687,NaN,NaN,NaN,Just in Time,A meticulous clerk for a bookstore that has ju...,91.0,"['comedy', 'drama', 'family']",['KE'],6.9,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82689,NaN,NaN,NaN,Pitta Kathalu,"Four different women, four journeys of love an...",37.0,"['drama', 'romance']",['IN'],5.1,738.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82691,NaN,NaN,NaN,Super Monsters: Once Upon a Rhyme,The Super Monsters rethink exemplary fantasies...,25.0,"['animation', 'family']",[],5.6,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82695,NaN,NaN,NaN,Mighty Little Bheem: Kite Festival,"With winter behind them, Bheem and his townspe...",7.0,"['family', 'animation', 'comedy']",[],7.8,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Um auf einen Datensatz ohne fehlende Werte zu kommen müssen wir noch einige Spalten löschen, in denen es nur wenige Werte gibt

df = df.drop(['budget_x', 'genres_y', 'id_y', 'original_language', 'production_companies', 'production_countries_y', 'tagline', 'awards', 'producers', 'budget_y', 'production companies', 'plot', 'plot outline', 'tageline'], 1)

<ipython-input-9-63752f528401>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(['budget_x', 'genres_y', 'id_y', 'original_language', 'production_companies', 'production_countries_y', 'tagline', 'awards', 'producers', 'budget_y', 'production companies', 'plot', 'plot outline', 'tageline'], 1)

In [10]:
df.isna().sum()

name                                                   849
character                                             8076
role                                                   849
title                                                    0
description                                             22
runtime                                                  0
genres_x                                                 0
production_countries_x                                   0
imdb_score                                               0
imdb_votes                                              71
tmdb_score                                               0
Academy Awards adapted screenplay                    59547
Academy Awards original screenplay                   59547
BAFTA nominations                                    59547
Golden Globe Award for Best Screenplay               59547
Writers Guild Awards Winners & Nominees 2020-2013    59547
director                                             58456
cast                                                 58469
country                                              58675
genres                                               58394
dtype: int64

In [11]:
#Fehlende Werte in Prozent
(df.isna().sum()/len(df)).apply('{0:.4%}'.format)

name                                                  1.4040%
character                                            13.3554%
role                                                  1.4040%
title                                                 0.0000%
description                                           0.0364%
runtime                                               0.0000%
genres_x                                              0.0000%
production_countries_x                                0.0000%
imdb_score                                            0.0000%
imdb_votes                                            0.1174%
tmdb_score                                            0.0000%
Academy Awards adapted screenplay                    98.4736%
Academy Awards original screenplay                   98.4736%
BAFTA nominations                                    98.4736%
Golden Globe Award for Best Screenplay               98.4736%
Writers Guild Awards Winners & Nominees 2020-2013    98.4736%
director                                             96.6694%
cast                                                 96.6909%
country                                              97.0316%
genres                                               96.5669%
dtype: object

In [12]:
#Wir haben immer noch sehr viel fehlende Werte, wenn wir alle bereinigen hat unser Datensatz keine Zeilen mehr

df_clean = df.dropna()

df_clean

Empty DataFrame
Columns: [name, character, role, title, description, runtime, genres_x, production_countries_x, imdb_score, imdb_votes, tmdb_score, Academy Awards adapted screenplay, Academy Awards original screenplay, BAFTA nominations, Golden Globe Award for Best Screenplay, Writers Guild Awards Winners & Nominees 2020-2013, director, cast, country, genres]
Index: []

In [13]:
#Daher müssen wir leider noch mehr Spalten entfernen

df = df.drop(['Academy Awards adapted screenplay', 'Academy Awards original screenplay', 'BAFTA nominations', 'Golden Globe Award for Best Screenplay', 'Writers Guild Awards Winners & Nominees 2020-2013', 'director', 'cast', 'country', 'genres'],1)

<ipython-input-13-565d01ae0318>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df = df.drop(['Academy Awards adapted screenplay', 'Academy Awards original screenplay', 'BAFTA nominations', 'Golden Globe Award for Best Screenplay', 'Writers Guild Awards Winners & Nominees 2020-2013', 'director', 'cast', 'country', 'genres'],1)

In [14]:
df.isna().sum()

name                       849
character                 8076
role                       849
title                        0
description                 22
runtime                      0
genres_x                     0
production_countries_x       0
imdb_score                   0
imdb_votes                  71
tmdb_score                   0
dtype: int64

In [15]:
df = df.dropna()

In [16]:
df.isna().sum()

name                      0
character                 0
role                      0
title                     0
description               0
runtime                   0
genres_x                  0
production_countries_x    0
imdb_score                0
imdb_votes                0
tmdb_score                0
dtype: int64

In [17]:
df

,name,character,role,title,description,runtime,genres_x,production_countries_x,imdb_score,imdb_votes,tmdb_score
17545,Graham Chapman,King Arthur / Voice of God / Middle Head / Hic...,ACTOR,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...",91.0,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0,7.8
17546,John Cleese,Second Swallow-Savvy Guard / The Black Knight ...,ACTOR,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...",91.0,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0,7.8
17547,Eric Idle,Dead Collector / Peasant 1 / Sir Robin the Not...,ACTOR,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...",91.0,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0,7.8
17548,Terry Gilliam,Patsy / Green Knight / Old Man from Scene 24 (...,ACTOR,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...",91.0,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0,7.8
17549,Terry Jones,Dennis's Mother / Sir Bedevere / Left Head / P...,ACTOR,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...",91.0,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0,7.8
...,...,...,...,...,...,...,...,...,...,...,...
81465,Kalia,Kalia,ACTOR,Chhota Bheem Aur Hanuman,"The grouchy Makhichoos, whoe hates Diwali, is ...",67.0,"['animation', 'fantasy']",['IN'],7.3,36.0,6.2
81466,Dholu,Dholu,ACTOR,Chhota Bheem Aur Hanuman,"The grouchy Makhichoos, whoe hates Diwali, is ...",67.0,"['animation', 'fantasy']",['IN'],7.3,36.0,6.2
81467,Bholu,Bholu,ACTOR,Chhota Bheem Aur Hanuman,"The grouchy Makhichoos, whoe hates Diwali, is ...",67.0,"['animation', 'fantasy']",['IN'],7.3,36.0,6.2
81468,Raju,Raju,ACTOR,Chhota Bheem Aur Hanuman,"The grouchy Makhichoos, whoe hates Diwali, is ...",67.0,"['animation', 'fantasy']",['IN'],7.3,36.0,6.2
81476,Emicida,Self,ACTOR,Emicida AmarElo Live in Sao Paulo,To the beat of his avant-garde and eclectic rh...,99.0,"['documentation', 'music']",['BR'],7.6,44.0,9.8

In [18]:
#Nach dem wir die Nullwerte bereinigt haben wollen wir noch nach Duplikaten suchen

df.duplicated().sum()

3

In [19]:
#Da es nur 3 Zeilen sind können wir diese entfernen

df = df.drop_duplicates()

In [20]:
#Durch die Angabe der Schauspieler sind die Titel mehrmals enthalten, wir wollen sehen wie viele Filme in dem Datensatz enthalten sind:

uniques = pd.unique(df[['title']].values.ravel())

len(uniques)

3950

In [21]:
df

,name,character,role,title,description,runtime,genres_x,production_countries_x,imdb_score,imdb_votes,tmdb_score
17545,Graham Chapman,King Arthur / Voice of God / Middle Head / Hic...,ACTOR,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...",91.0,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0,7.8
17546,John Cleese,Second Swallow-Savvy Guard / The Black Knight ...,ACTOR,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...",91.0,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0,7.8
17547,Eric Idle,Dead Collector / Peasant 1 / Sir Robin the Not...,ACTOR,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...",91.0,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0,7.8
17548,Terry Gilliam,Patsy / Green Knight / Old Man from Scene 24 (...,ACTOR,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...",91.0,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0,7.8
17549,Terry Jones,Dennis's Mother / Sir Bedevere / Left Head / P...,ACTOR,Monty Python and the Holy Grail,"King Arthur, accompanied by his squire, recrui...",91.0,"['fantasy', 'action', 'comedy']",['GB'],8.2,534486.0,7.8
...,...,...,...,...,...,...,...,...,...,...,...
81465,Kalia,Kalia,ACTOR,Chhota Bheem Aur Hanuman,"The grouchy Makhichoos, whoe hates Diwali, is ...",67.0,"['animation', 'fantasy']",['IN'],7.3,36.0,6.2
81466,Dholu,Dholu,ACTOR,Chhota Bheem Aur Hanuman,"The grouchy Makhichoos, whoe hates Diwali, is ...",67.0,"['animation', 'fantasy']",['IN'],7.3,36.0,6.2
81467,Bholu,Bholu,ACTOR,Chhota Bheem Aur Hanuman,"The grouchy Makhichoos, whoe hates Diwali, is ...",67.0,"['animation', 'fantasy']",['IN'],7.3,36.0,6.2
81468,Raju,Raju,ACTOR,Chhota Bheem Aur Hanuman,"The grouchy Makhichoos, whoe hates Diwali, is ...",67.0,"['animation', 'fantasy']",['IN'],7.3,36.0,6.2
81476,Emicida,Self,ACTOR,Emicida AmarElo Live in Sao Paulo,To the beat of his avant-garde and eclectic rh...,99.0,"['documentation', 'music']",['BR'],7.6,44.0,9.8

Wir erhalten einen Datensatz mit 3950 Filmen. Wenn wir diesen Datensatz mit den ursprünglichen Daten vergleichen sehen wir, dass er sehr ähnlich ist zu den Datensatz credits und titles und der Join der vielen Datensätze keinen Mehrwer. Daher würde wir im nächsten Schritt nur diese beiden Datensätze joinen um eine solide Datenbasis für unser Modell zu erhalten.

In [22]:
#Datei abspeichern:

df.to_csv("Df_Join_5_bereinigt.csv", index=False)